/nbproject
/Application/Runtime
/Application/Common/Conf/config.php
/Application/Common/Conf/config - 副本.php
/WebRoot/Public/Uploads
/Application/Home/Conf/config.php
/WebRoot/Upload
/.settings
/.project
